footer {
  padding: 4rem;
  background-color: #000;
  color: #fff;

  a {
    color: #666;
    margin-left: 0.25rem;
  }
}

.footer-copy {
  font-size: 0.875rem;
}

.footer-cop {
  color: #666;
  font-size: 0.875rem;

  span {
    margin-top: 3rem;
  }
}
