.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, .0);
  transition: background-color 300ms ease-in;
  z-index: 2;

  .nav {
    gap: 2rem;

    @media (max-width: 960px) {
      gap: 0rem;
    }
  }

  .nav-link {
    font-size: 1rem;
    transition: opacity 200ms ease-in-out;

    &:hover {
      opacity: .6;
    }
  }

  .button {
    font-size: 1rem;
  }

  .nav-logo {
    width: 8.125rem;
    height: auto;
    transition: width 300ms ease;
  }

  &.scrolled {
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);

    .nav-logo {
      width: 5rem;
    }
  }

  .dropdown-menu {
    background-color: #111;
    width: 16rem;

    .nav-link {
      font-size: 0.875rem;
      color: #fff;
    }
  }
}
