.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1;

  .nav {
    gap: 2rem;
  }
  .nav-link {
    font-size: 1.25rem;
    transition: opacity 200ms ease-in-out;

    &:hover {
      opacity: .6;
    }
  }
}
